$main-bg-color: #f1f2f4;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: $main-bg-color;
  color: rgba($color: #000000, $alpha: 0.87);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
